@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: ubuntu;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #709bec, #e78bfa);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
}
